<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="huji.natip2.grouplock">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SEND_SMS" />




    <permission
        android:name="huji.natip2.grouplock.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="huji.natip2.grouplock.permission.C2D_MESSAGE" />


    <application
        android:name=".GLApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CountryCodeActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:label="@string/title_activity_countrycode"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="huji.natip2.grouplock.LoginActivity" />
        </activity>


        <activity
            android:name=".MyGroupActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->
                <action android:name="android.intent.action.SEARCH" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>


        <service android:name="com.parse.PushService" />
        <receiver
            android:name=".MyPushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="huji.natip2.grouplock" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_lock_outline_white_24dp" />


        <!--<service android:name="com.parse.PushService" />-->
        <!--<receiver android:name="com.parse.ParsePushBroadcastReceiver"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.parse.push.intent.RECEIVE" />-->
        <!--<action android:name="com.parse.push.intent.DELETE" />-->
        <!--<action android:name="com.parse.push.intent.OPEN" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name="com.parse.GcmBroadcastReceiver"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

        <!--&lt;!&ndash;-->
        <!--IMPORTANT: Change "com.parse.starter" to match your app's package name.-->
        <!--&ndash;&gt;-->
        <!--<category android:name="natip2.grouplock" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->


    </application>

</manifest>
